body {
  font-family: sans-serif;
  line-height: 1.5rem;
  min-width: 315px;
}

.ampstart-headerbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  display: flex;
  left: 0;
  padding-left: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.ampstart-headerbar+:not(amp-sidebar),.ampstart-headerbar+amp-sidebar+* {
  margin-top: 3.5rem;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  letter-spacing: .06rem;
  margin: 0;
  padding: 0;
}

.h2,h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.h3,h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.ampstart-sidebar .ampstart-dropdown-item,.ampstart-sidebar .ampstart-dropdown header,.ampstart-sidebar .ampstart-nav-item {
  margin: 0 0 2rem;
}

.ampstart-sidebar {
  background-color: #fff;
  min-width: 300px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 300px;
}

.ampstart-navbar-trigger {
  cursor: pointer;
  font-size: 2rem;
  line-height: 3.5rem;
  padding-right: 1rem;
}

.ampstart-navbar-trigger:focus {
  outline: none;
}

@media (max-width:40rem) {
  .bg-title {
    display: none;
  }
}

@media (min-width:40.06rem) {
  .sm-title {
    display: none;
  }
}

.ampstart-nav a {
  color:#000;
  text-decoration: none;
}

.ampstart-label {
  font-size: .875rem;
  letter-spacing: .06rem;
  line-height: 1.125rem;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.ampstart-nav-dropdown .ampstart-dropdown>section>header {
  background-color: #fff;
  border: 0;
}

.ampstart-dropdown {
  min-width: 200px
}

.ampstart-dropdown.absolute {
  z-index: 100
}

.ampstart-dropdown.absolute>section,.ampstart-dropdown.absolute>section>header {
  height: 100%
}

.ampstart-dropdown>section>header:after {
  color: #003f93;
  content: "+";
  display: inline-block;
  padding: 0 0 0 1.5rem;
}

.ampstart-dropdown>[expanded]>header:after {
  content: "–";
}

.ampstart-dropdown-items {
  list-style: none;
  padding: 0;
  z-index: 200;
}

.ampstart-image-fullpage-hero {
  color: #fff;
  margin-bottom: 2rem;
  margin: 0;
  position: relative;
}

.ampstart-image-fullpage-hero>amp-img {
  max-height: calc(100vh - 3.5rem);
}

.ampstart-image-fullpage-hero>amp-img img {
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width:52.06rem) {
  .ampstart-image-fullpage-hero>amp-img {
    height: 60vh;
  }
}

.hero-image-caption {
  padding: .5rem;
  position: absolute;
  right: 0;
  top: 0;
}

main {
  margin: 0 auto;
  max-width: 700px;
}

.main-heading, .video-desc {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
}

.main-intro {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.image-counter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.thumbnail-carousel {
  margin-top: .5rem;
}

.social-bar {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.main-form {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  padding: 1rem;
}

.form-input-container {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
}

input {
  font-family: sans-serif;
  font-size: 100%;
}

.ampstart-input {
  display: inline-block;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 0;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
  position: relative;
  width: 300px;
}

.ampstart-input>input {
  background: none;
  border-bottom: 1px solid #4a4a4a;
  border-radius: 0;
  border: 0;
  color: #4a4a4a;
  line-height: 1.5rem;
  margin-top: 1rem;
  outline: 0;
  width: 100%;
}

.ampstart-input>label {
  bottom: 0;
  font-size: .875rem;
  left: 0;
  line-height: 1rem;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
}

.ampstart-btn {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  letter-spacing: .2em;
  line-height: 1.125rem;
  padding: .7em .8em;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}

.lightbox-button-container {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.form-submit-response {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.lightbox {
  align-items: center;
  background: rgba(0,0,0,0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.lightbox h1 {
  color: white;
}

/* low opacity for non-selected thumbnails */
amp-selector amp-img[option] {
  opacity: 0.4;
}

/* normal opacity for the selected thumbnail */
amp-selector amp-img[option][selected] {
  opacity: 1;
}