body {
  font-family: sans-serif;
  line-height: 1.5rem;
  min-width: 315px;
}

.headerbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  display: flex;
  left: 0;
  padding-left: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.headerbar+:not(amp-sidebar),.headerbar+amp-sidebar+* {
  margin-top: 3.5rem;
}

h2 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.h2,h2 {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.sidebar .dropdown-item,.sidebar .dropdown header,.sidebar .nav-item {
  margin: 0 0 2rem;
}

.sidebar {
  background-color: rgb(255, 253, 243);
  min-width: 300px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 300px;
}

.navbar-trigger {
  cursor: pointer;
  font-size: 2rem;
  line-height: 3.5rem;
  outline: none;
  padding-right: 1rem;
}

.nav a {
  color:#000;
  text-decoration: none;
}

.label {
  font-size: .875rem;
  letter-spacing: .06rem;
  line-height: 1.125rem;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.dropdown>section>header {
  background-color:rgba(0,0,0,0);
  border: 0;
  outline: none;
}

.dropdown section>*:nth-child(2) {
  padding: 0 10px;
}

.dropdown {
  min-width: 200px
}

.dropdown.absolute {
  z-index: 100
}

.dropdown.absolute>section,.dropdown.absolute>section>header {
  height: 100%
}

.nav-dropdown .dropdown>section>header:after {
  color: #003f93;
  content: "+";
  display: inline-block;
  padding: 0 0 0 1.5rem;
}

.nav-dropdown .dropdown>[expanded]>header:after {
  content: "–";
}

.dropdown-items {
  list-style: none;
  padding-left: 20px;
  z-index: 200;
}

main {
  margin: 0 auto;
  max-width: 700px;
}

.main-content {
  margin: 0 10px;
}

.below-hero {
  margin: 20px;
}

.accordion-section {
  margin: 30px 0;
}

.main-heading {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .06rem;
  line-height: 2.5rem;
  margin-top: 2.7rem;
  outline: none;
  padding-top: 1rem;
}

.accordion-section>header:after {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%23021425' stroke-width='2' stroke-miterlimit='10' d='M6.967 13.932V0M0 6.966h13.932'/%3E%3C/svg%3E");
  height: 14px;
  width: 14px;
  right: 0px;
  top: 28px;
  cursor: pointer
}

.accordion-section[expanded]>header:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%23021425' stroke-width='2' stroke-miterlimit='10' d='M0 6.966h13.932'/%3E%3C/svg%3E")
}

.main-text {
  margin-bottom: 2rem;
  padding-right: 1.5rem;
}

#imageSlides {
  margin-top: 2.3rem;
}

.amp-carousel-slide>.i-amphtml-replaced-content {
  object-fit: cover;
}

/* low opacity for non-selected thumbnails */
amp-selector amp-img[option] {
  opacity: 0.4;
}

/* normal opacity for the selected thumbnail */
amp-selector amp-img[option][selected] {
  opacity: 1;
}

.thumbnail-carousel {
  margin-top: .5rem;
}

.i-amphtml-scrollable-carousel-container {
  display: flex;
  justify-content: center;
}

.subscribe-card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.subscribe-card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 320px;
}

.main-form {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  padding: 1rem;
}

.form-input-container {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
}

input {
  font-family: sans-serif;
  font-size: 100%;
}

.input {
  display: inline-block;
  line-height: 1.5rem;
  margin: 0;
  margin-bottom: 1.5rem;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
  position: relative;
  width: 300px;
}

.input>input {
  background: none;
  border: 0;
  border-bottom: 1px solid #4a4a4a;
  border-radius: 0;
  color: #4a4a4a;
  line-height: 1.5rem;
  margin-top: 1rem;
  outline: 0;
  width: 100%;
}

.input>label {
  bottom: 0;
  font-size: .875rem;
  left: 0;
  line-height: 1rem;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
}

.btn {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  letter-spacing: .2em;
  line-height: 1.125rem;
  padding: .7em .8em;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}

.form-submit-response {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.social-bar {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 3.5rem;
}

amp-social-share {
  border-radius: 50%;
  background-size: 70%;
}